*{
    margin: 0px;
    padding: 0px;
}
@font-face{
    font-family: "mast";
    src: url("./assets/fonts/Qwitcher_Grypen/QwitcherGrypen-Regular.ttf")
}
#head{
    text-align: center;
    background-color: white;
    font-size: 100px;
    color: green;
    font-family: "mast";
    letter-spacing: 50px;
}
body{
    border: 15px solid red;
    background-image: url("./assets/images/skin.jpg");
}

.line div{
    height: 185px;
    width: 12.2%;
    margin: -2px;
    border: 3px solid;
    display: inline-block;
}
.b{
    background-image: url("./assets/images/brown.jpg");
}
::selection{
    color: white;
    background-color: black;
}